<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <div class="brutalist-card">
    <div class="brutalist-card__header">
      <div class="brutalist-card__alert">Kích hoạt tài khoản</div>
    </div>
    <div class="brutalist-card__message">
      This is a brutalist card with a very angry button. Proceed with caution,
      you've been warned.
    </div>
    <div class="brutalist-card__actions">
      <a class="brutalist-card__button brutalist-card__button--mark" href="#">Mark as Read</a>
      <a class="brutalist-card__button brutalist-card__button--read" href="#">Okay</a>
    </div>
  </div>
</body>

</html>